
header .back-btn {
  font-size: 39px;
  padding: 5px;
  line-height: 0px;
  background: #323484;
  box-shadow: 3px 3px 20px #0000001F;
  border-radius: 10px;
  border: none;
  margin-right: 29px;
}

header .back-btn:hover {
  background: white;
  color: #323484;
  border: 1px solid;
  padding: 4px;
}

.restrict-user-btn {
  border: 1px solid;
  color: #C70C69;
  padding-right: 30px;
}

.restrict-user-btn:hover {
  background: #C70C69;
  color: white;
}

.restrict-user-btn.loading {
  width: 67px;
}

.confirm-user-btn.loading, .restrict-user-btn.loading {
  padding: 15px 23px 17px 22px;
}

.customer-details, .liveliness-check-page, .customer-documents-page, .searching-block{
  background-color: white;
  box-shadow: 0px 3px 20px #00000007;
  padding-left: 56px;
  padding-top: 50px;
  min-height: 749px;
  padding-bottom: 47px;
  border-radius: 20px;
}

.customer-details .left-side {
  text-align: center;
  margin-left: -15px;
}

.customer-details .img-holder img{
  height: 242px;
  width: 242px;
  border-radius: 50%;
}

.audit-history-btn {
  box-shadow: 0px 10px 30px #00000017;
  background: #323484;
  padding: 17px 80px 18px 55px;
  font-size: 14px;
  width: 229px;
  margin: 47px 3px 15px;
  font-weight: 600;
}

.audit-history-btn .overlay-div {
  width: 30%;
}

.audit-history-btn span {
  right: 15px;
}

.reset-password-btn {
  margin: 0 auto;
  font-weight: bold;
  border: none;
  transition: background-color 500ms;
}

.reset-password-btn.loading {
  background-color: #dc3545;
  border-radius: 23px;
  color: white;
}

.customer-details .right-side .row .col:nth-child(2), .id-document-details .row .col:nth-child(2) {
  font-weight: 600;
}

.customer-details .kin-details{
  margin-top: 89px;
}

.customer-details .personal-details .row, .customer-details .other-details .row {
  margin-top: 29px;
  color: #0A3865;
}

.details-header {
  width: 343px;
  border-bottom: 1px solid;
  color: #29C186;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
  margin-bottom: 37px;
}

.liveliness-check-page {
  gap: 85px;
}

.liveliness-check-page .verification-photo-holder img {
  width: 441px;
  height: auto;
}

.liveliness-check-page .confirm-liveliness-btn {
  width: 66%;
  margin-top: 20px;
  background-color: var(--primary-dark-blue);
  color: white;
  padding: 15px 28px 17px 22px;
  font-size: 1rem;
  border-radius: 29px;
}

.liveliness-check-page .confirm-liveliness-btn:hover{
  color: var(--primary-dark-blue);
  background-color: white;
  border-color: var(--primary-dark-blue);
}

.customer-documents-page {
  color: #0A3865;
  height: unset;
}

.customer-documents-page .row{
  margin: 0;
}

.id-document-container > .row {
  gap: 70px;
}

.document-card {
  background: #FAFBFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 20px #00000019;
  border: 1px solid #FFFFFF;
  border-radius: 18px;
  padding: 0;
}

.document-card:hover {
  box-shadow: 0px 3px 45px 25px #00000019;
  color: #4244a8;
  cursor: pointer;
}

.document-card img {
  width: 100%;
  height: 186px;
  border-radius: 18px;
  box-shadow: 0px 3px 6px #0000001A;
}

.document-card .document-info {
  padding: 27px 28px 32px 32px;
}

.document-card .document-info span {
  font-size: 25px;
  margin-right: 30px;
}

#adobe-acrobat-file {
  color: red;
}

.document-card .document-info span:nth-child(3) {
  position: absolute;
  right: 0px;
}

.other-documents{
  margin-top: 55px;
}

.other-documents .row{
  gap: 37px
}

/* Audit History */

.audit-history-footer {
  position: relative;
  margin-top: 40px;
} 

.audit-history-card .major-details {
  padding-left: 30px;
}

.audit-history-card .txn-type.debit {
  padding: 3px 21px;
}

.pagination-btns {
  display: flex;
  justify-content: center;
  gap: 8px;
  list-style: none;
}

.pagination-btns .btn {
  color: #0A3865;
  font-weight: bold;
}

.pagination-btns .btn.icon {
  padding: 0;
  font-size: 20px;
}

.pagination-btns .btn.icon svg{
  pointer-events: none;
}

.pagination-btns .btn:not(.icon) {
  border: 1px solid;
  padding: 7px 14px;
  border-radius: 8px;
}

.pagination-btns .btn.active, .pagination-btns .btn:not(.icon):hover {
  background-color: #0A3865;
  color: white;
}

.audit-history-footer > div:nth-child(2) {
  position: absolute;
  right: 10px;
  top: 6px;
  color: #0A3865;
  font-weight: bold;
  cursor: pointer;
}

.pnd-div .btn-group {
  border-radius: 20px;
  overflow: hidden;
}

.pnd-div .btn.btn-primary, .doc-opt-div .btn.btn-primary, .liveliness-opt-div .btn.btn-primary{
  background-color: var(--primary-dark-blue);
  border-color: var(--primary-dark-blue);
}

.pnd-div .btn.loading, .doc-opt-div .btn.loading, .liveliness-opt-div .btn.loading{
  background-color: var(--primary-dark-blue);
  border-color: var(--primary-dark-blue);
  color: white;
}

.pnd-div .btn.loading.reject, .doc-opt-div .btn.loading.reject, .liveliness-opt-div .btn.loading.reject{
  background-color: #C70C69;
  border-color: #C70C69;
  color: white;
}

.pnd-div .btn.btn-primary:hover, .doc-opt-div .btn.btn-primary:hover, .liveliness-opt-div .btn.btn-primary:hover{
  background-color: #282a64;
}

.pnd-div .btn.btn-danger, .doc-opt-div .btn.btn-danger, .liveliness-opt-div .btn.btn-danger{
  background-color: #C70C69;
  border-color: #C70C69;
}

.pnd-div .btn.btn-danger:hover, .doc-opt-div .btn.btn-danger:hover, .liveliness-opt-div .btn.btn-danger:hover{
  background-color: #A20A55;
}

.doc-opt-div {
  padding-left: 15px;
  margin-top: 10px;
}

.doc-opt-div, .liveliness-opt-div {
  margin-top: 10px;
}

.doc-opt-div .btn, .liveliness-opt-div .btn {
  padding: 14px;
}
.doc-opt-div .btn-group, .liveliness-opt-div .btn-group{
  width: 441px;
}

.res-body-pre {
  outline: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
  text-align: left;
}

.res-body-pre .string {
  color: green;
}

.res-body-pre .number {
  color: darkorange;
}

.res-body-pre .boolean {
  color: blue;
}

.res-body-pre .null {
  color: magenta;
}

.res-body-pre .key {
  color: red;
}
