.login-wrapper {
  min-height: 100vh;
  display: flex;
  background-color: #F5F9FD;
}

.login-wrapper .left-img-holder{
  /* background: url('../img/side-img.png') no-repeat; */
  background-size: cover;
  width: 50%;
}

.left-img-holder img{
  /* display: none; */
  width: 100%;
}

.login-form-container {
  margin-top: 232px;
  width: 475px;
  color: #0A3865;
}

.login-form-container .form-header {
  margin-bottom: 51px;
}

.login-form-container > form > .form-group:nth-child(3) {
  margin-top: 30px;
  margin-bottom: 41px;
  position: relative;
}

.login-form-container input {
  padding: 26px 50px 30px 37px;
  background: var(--offwhite-2) 0% 0% no-repeat padding-box;
  color: inherit;
  border-radius: 15px;
  box-shadow: 0px 3px 20px #00000003;
}

.login-form-container label {
  margin-bottom: 18px;
  font-weight: 600;
}

.input-focused label{
  color: var(--another-blue);
}

.show-password-btn {
  position: absolute;
  width: 47px;
  height: 47px;
  bottom: 6px;
  right: 12px;
  padding: 0;
  border: none;
  outline: none !important;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 12px;
  transition-duration: 100ms;
}

.show-password-btn:hover {
  box-shadow: 0px 3px 20px rgba(0,0,0,0.24);
  cursor: pointer;
}

.show-password-btn:active {
  box-shadow: none;
  transform: translateY(2px);
}

.show-password-btn svg{
  font-size: 13.65px;
}

.input-focused .show-password-btn{
  border:1px solid #b3b3b3;
}

.signin-btn, .audit-history-btn {
  background: var(--secondary-blue) 0% 0% no-repeat padding-box;
  box-shadow: 0px 12px 31px rgba(0,0,0,.2);
  border-radius: 15px;
  width: 100%;
  border: none;
  padding: 25px 203px 25px 208px;
  color: white !important;
  font-size: 19px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.signin-btn span, .audit-history-btn span {
  position: absolute;
  right: 32px;
  z-index: 99;
}

.signin-btn span.loading, .audit-history-btn span.loading {
  right: 30px;
}
  
.signin-btn svg, .audit-history-btn svg {
  font-size: 24px;
}

.signin-btn .loading img, .audit-history-btn .loading img {
  width: 35px;
  height: auto;
}

.signin-btn .overlay-div, .audit-history-btn .overlay-div {
  height: 100%;
  width: 24%;
  position: absolute;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(120deg, transparent 33%, var(--offwhite-2) 33%, var(--offwhite-2));
  opacity: 0.25;
  pointer-events: none;
  transition: 500ms;
}

.signin-btn:hover .overlay-div, .audit-history-btn:hover .overlay-div {
  width: 100%;
  background: var(--offwhite-2);
  z-index: 99;
}

.custom.invalid-feedback {
  display: block;
  text-align: center;
  margin-top: 20px;
}
/* 
.other-links{
  margin-top: 37.5px;
  text-align: center;
}

.other-links .col{
  padding: 10px 0;
}

.other-links .col a {
  color: var(--primary-green);
}

.other-links .col:first-child{
  border-right: 1px solid rgba(46, 31, 130, .18);
  padding-right: 43.5px ;
}

.other-links .col:nth-child(2){
  padding-left: 43.5px;
} */