@import './variables.css';
@import '~noty/lib/noty.css';
@import '~noty/lib/themes/nest.css';
@import './login.css';
@import './side-panel.css';
@import './customers.css';
@import './customer.css';

body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*.disabled, *:disabled{
  pointer-events: none;
  opacity: .65;
}
section.content{
  background-color: var(--offwhite-1);
  width: 100%;
}

.color-dark-text-blue{
  color: var(--dark-text-blue) !important;
}

.color-red{
  color: var(--primary-red) !important;
}

.color-green{
  color: var(--primary-green) !important;
}

.color-yellow{
  color: #afaf00 !important;
}

.modal-dialog {
  min-width: 827px;
}

.modal-content {
  min-height: 564px;
  min-width: 827px;
  border-radius: 13px;
}

.modal-content button.close{
  position: absolute;
  right: 25px;
  font-size: 40px;
  top: 15px;
  opacity: .26;
  z-index: 99;
}

.modal-icon {
  margin-top: 86px;
  font-size: 100px;
  color: #3DEFB1;
  margin-bottom: 28px;
}

.modal-title {
  font-weight: 600;
  font-size: 24px;
}

.modal-text {
  margin: 41px 71px 50px;
  color: #1C1B1B;
  font-weight: 300;
  opacity: .84;
}

.modal-body .btn {
  background-color: #323484;
  color: white;
  padding: 13px 75px;
  border-radius: 29px;
  font-weight: 700;
}

.modal-body .btn:hover {
  background: white;
  color: #323484;
  border: 2px solid;
  padding-top: 12px;
  padding-bottom: 12px;
}

#resetPasswordModal .modal-dialog {
  min-width: 692px;
}

#resetPasswordModal .modal-content {
  min-width: 692px;
}

.new-pwd {
  background: rgba(189, 196, 209, .36);
  border-radius: 23px;
  padding: 9px 26px;
  display: inline-block;
  font-size: 20px;
  color: #05223E;
  font-weight: 600;
  margin-bottom: 50px;
}

#resetPasswordModal .modal-text {
  margin-top: 18px;
}

.new-pwd ~ p {
  color: #C70C69;
}

.rotating {
  -webkit-animation: rotating 900ms linear infinite;
  -moz-animation: rotating 900ms linear infinite;
  -ms-animation: rotating 900ms linear infinite;
  -o-animation: rotating 900ms linear infinite;
  animation: rotating 900ms linear infinite;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (max-width: 1700px){
  #root > article {
    width: 1888px;
  }
}
/* @media (max-width: 1620px){
  .left-img-holder img{
    display: block;
  }
}

@media (max-width: 1200px){
  .login-wrapper{
    flex-direction: column;
    margin-bottom: 50px;
  }

  .left-img-holder img{
    display: none;
  }

  .login-wrapper .left-img-holder{
    height: 45vh;
    width: 100%;
  }

  .login-form-container{
    margin-top: 160px;
  }
}

@media (max-width: 500px){
  .login-form-container {
    width: 75%;
  }

  .login-form-container input{
    padding-left: 20px;
    padding-right: 20px;
  }

  .signin-btn {
    padding: 10px 0;
  }

  .signin-btn span{
    right: 6%;
  }
} */