@import "./variables.css";
@import "~noty/lib/noty.css";
@import "~noty/lib/themes/nest.css";
@import "./login.css";
@import "./side-panel.css";
@import "./customers.css";
@import "./customer.css";
@import "./loans";
@import "./loans/modal.css";

html,
body {
  /* zoom: 87.3%; */
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*.disabled,
*:disabled {
  pointer-events: none;
  opacity: 0.65;
}
section.content {
  background-color: var(--offwhite-1);
  width: 100%;
}

.color-dark-text-blue {
  color: var(--dark-text-blue) !important;
}

.color-red {
  color: var(--primary-red) !important;
}

.color-green {
  color: var(--primary-green) !important;
}

.bg-color-green {
  background-color: var(--primary-green) !important;
}

.bg-color-green.btn:hover {
  color: var(--primary-green);
  background-color: white !important;
}

.bg-color-blueish {
  background-color: #1ddcf03d !important;
}

.color-blueish {
  color: #1ddcf0;
}

.bg-color-redish {
  background-color: #e387875e !important;
}

.color-redish {
  color: #ee2323;
}

.bg-color-greenish {
  background-color: #a2e3c661 !important;
}

.color-greenish {
  color: #2dbe7e;
}

.bg-color-purplish {
  background-color: #a483ff38 !important;
}

.color-purplish {
  color: #7849f9;
}

.color-yellow {
  color: #afaf00 !important;
}

.color-sec-green {
  color: var(--secondary-green) !important;
}

.font-weight-600 {
  font-weight: 600 !important;
}

.modal-dialog {
  min-width: 827px;
}

.modal-content {
  min-height: 564px;
  min-width: 827px;
  border-radius: 13px;
}

.modal-content button.close {
  position: absolute;
  right: 25px;
  font-size: 40px;
  top: 15px;
  opacity: 0.26;
  z-index: 99;
}

.modal-icon {
  margin-top: 86px;
  font-size: 100px;
  color: #3defb1;
  margin-bottom: 28px;
}

.modal-title {
  font-weight: 600;
  font-size: 24px;
}

.modal-text {
  margin: 41px 71px 50px;
  color: #1c1b1b;
  font-weight: 300;
  opacity: 0.84;
}

.modal-body .btn {
  background-color: var(--primary-dark-blue);
  color: white;
  padding: 13px 75px;
  border-radius: 29px;
  font-weight: 700;
}

.modal-body .btn:hover {
  background: white;
  color: var(--primary-dark-blue);
  border: 2px solid;
  padding-top: 12px;
  padding-bottom: 12px;
}

#resetPasswordModal .modal-dialog {
  min-width: 692px;
}

#resetPasswordModal .modal-content {
  min-width: 692px;
}

.new-pwd {
  background: rgba(189, 196, 209, 0.36);
  border-radius: 23px;
  padding: 9px 26px;
  display: inline-block;
  font-size: 20px;
  color: #05223e;
  font-weight: 600;
  margin-bottom: 50px;
}

#resetPasswordModal .modal-text {
  margin-top: 18px;
}

.new-pwd ~ p {
  color: var(--primary-red);
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotating {
  -webkit-animation: rotating 900ms linear infinite;
  -moz-animation: rotating 900ms linear infinite;
  -ms-animation: rotating 900ms linear infinite;
  -o-animation: rotating 900ms linear infinite;
  animation: rotating 900ms linear infinite;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (max-width: 1700px) {
  #root > article {
    width: 1888px;
  }
}

/* ------------------- CUSTOM CHECKBOX ----------------- */
/* Customize the label (the container) */
.custom-checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.custom-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.custom-checkbox-container .checkmark {
  position: absolute;
  bottom: 5px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.custom-checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox-container input:checked ~ .checkmark {
  background-color: #2dbe7e;
}

/* Create the checkmark/indicator (hidden when not checked) */
.custom-checkbox-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox-container .checkmark:after {
  left: 9px;
  top: 6px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* @media (max-width: 1620px){
  .left-img-holder img{
    display: block;
  }
}

@media (max-width: 1200px){
  .login-wrapper{
    flex-direction: column;
    margin-bottom: 50px;
  }

  .left-img-holder img{
    display: none;
  }

  .login-wrapper .left-img-holder{
    height: 45vh;
    width: 100%;
  }

  .login-form-container{
    margin-top: 160px;
  }
}

@media (max-width: 500px){
  .login-form-container {
    width: 75%;
  }

  .login-form-container input{
    padding-left: 20px;
    padding-right: 20px;
  }

  .signin-btn {
    padding: 10px 0;
  }

  .signin-btn span{
    right: 6%;
  }
} */
