.side-panel {
  height: 100%;
  background: var(--primary-dark-blue);
  width: 346px;
  position: relative;
  font-weight: 600;
}

.side-panel-header {
  background: rgba(17, 24, 38, 0.16);
  padding-top: 23px;
  padding-bottom: 33px;
}

.side-panel-items {
  margin-top: 120px;
  padding-left: 30px;
}

.side-panel-items .item a {
  padding: 20px 12px;
  display: block;
  background: var(--primary-dark-blue);
  color: #AFAFE2;
  text-decoration: none;
}

.side-panel-items .item.dummy a {
  padding: 0;
}

.side-panel-items .item.active a {
  color: #2B3A5D;
  border-top-left-radius: 26px;
  border-bottom-left-radius: 26px;
}

.side-panel-items .item.next-active, .side-panel-items .item.active a, .side-panel-items .item.prev-active {
  background: #FAFBFF;
}

.side-panel-items .item.next-active a {
  border-bottom-right-radius: 30px;
}

.side-panel-items .item.prev-active a {
  border-top-right-radius: 30px;
}

.side-panel-items .item span {
  position: absolute;
  right: 42px;
}

.signout-div {
  padding: 0 55px 63px;
  width: 100%;
  bottom: 63px;
  margin-top: 173px;
}

.signout-div button {
  width: 100%;
  background: transparent;
  border: 1px solid;
  padding: 20px 80px;
  font-size: 15px;
  border-radius: 15px;
}
