:root{
  --primary-blue: #2E1F82;
  --primary-dark-blue: #323484;
  --secondary-blue: #1540CE;
  --another-blue: #1564CC;
  --primary-green: #29C186;
  --primary-red: #C70C69;
  --offwhite-1: #FAFBFD;
  --offwhite-2: #E7EEF5;
  --dark-text-blue: #0A3865;
}