RewriteEngine On
# If an existing asset or directory is requested go to it as it is
RewriteCond %{REQUEST_URI} !\.well-known/acme-challenge
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
RewriteRule ^ - [L]

RewriteRule ^\.well-known/acme-challenge/(.*)$ \.well-known/acme-challenge/$1 [NC,L]

# If the requested resource doesn't exist, use index.html
RewriteRule ^ /index.html


AddType image/webp .webp

<IfModule mod_expires.c>
  Header add X-Rewrite-Enabled "mod_expires.c"
  Header add Content-Security-Policy "default-src 'self' cdnjs.cloudflare.com/ stackpath.bootstrapcdn.com/ code.jquery.com/ https://csb10032000f5765b8c.blob.core.windows.net/; script-src cdn.jsdelivr.net registry.npmjs.org 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' cdn.jsdelivr.net 'unsafe-inline' https: data:; frame-src 'self' https://loan-web-npf.herokuapp.com/; img-src 'self' https://csb10032000f5765b8c.blob.core.windows.net; script-src-elem www.WebRTC-Experiment.com/ code.jquery.com/ stackpath.bootstrapcdn.com/ cdn.jsdelivr.net registry.npmjs.org 'self' 'unsafe-inline' 'unsafe-eval'; style-src-elem 'self' cdn.jsdelivr.net 'unsafe-inline' https: data:"
  ExpiresActive On
  ExpiresDefault "access plus 1 seconds"
  ExpiresByType text/html "access plus 1 seconds"
  ExpiresByType image/x-icon "access plus 1 month"
  ExpiresByType image/gif "access plus 1 month"
  ExpiresByType image/jpeg "access plus 1 month"
  ExpiresByType image/png "access plus 1 month"
  ExpiresByType image/svg "access plus 1 month"
  ExpiresByType image/svg+xml "access plus 1 month"
  ExpiresByType image/webp "access plus 1 month"
  ExpiresByType text/css "access plus 604800 seconds"
  ExpiresByType text/javascript "access plus 1 month"
  ExpiresByType application/x-javascript "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 month"
</IfModule>

<IfModule mod_deflate.c>
  # Compress HTML
  AddOutputFilterByType DEFLATE text/html

  # Compress Text
  AddOutputFilterByType DEFLATE text/plain

  # Compress CSS
  AddOutputFilterByType DEFLATE text/css

  # Compress JavaScript
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE text/javascript
  AddOutputFilterByType DEFLATE application/x-javascript

  # Compress Images
  AddOutputFilterByType DEFLATE image/svg+xml
  AddOutputFilterByType DEFLATE image/x-icon

  # Compress Fonts
  AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
  AddOutputFilterByType DEFLATE application/x-font
  AddOutputFilterByType DEFLATE application/x-font-opentype
  AddOutputFilterByType DEFLATE application/x-font-otf
  AddOutputFilterByType DEFLATE application/x-font-truetype
  AddOutputFilterByType DEFLATE application/x-font-ttf
  AddOutputFilterByType DEFLATE font/opentype
  AddOutputFilterByType DEFLATE font/otf
  AddOutputFilterByType DEFLATE font/ttf

  # Compress XML
  AddOutputFilterByType DEFLATE application/rss+xml
  AddOutputFilterByType DEFLATE application/xhtml+xml
  AddOutputFilterByType DEFLATE application/xml
  AddOutputFilterByType DEFLATE text/xml

  # Old browser fixes
  BrowserMatch ^Mozilla/4 gzip-only-text/html
  BrowserMatch ^Mozilla/4\.0[678] no-gzip
  BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
  Header append Vary User-Agent
</IfModule>

